
body {
  background: #5b5b5b url(../images/bg-body.png) no-repeat top center;
  font: normal 12px/1.4 Helvetica, Arial, sans-serif;
}

/*==================================
        S T R U C T U R E
====================================*/

.container {
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 800px;
}

/*==================================
       U T I L I T Y
====================================*/

.arrow-link {
  color: #1B70AB;
  font-weight: 700;
  font-size: 13px;
  padding-right: 15px;
  background: url(../images/arrow-icon.png) no-repeat right;
  text-decoration: none;
}

/*==================================
          H E A D E R
====================================*/

#header-wrap {
  height:250px;
}

#header-nav {
  background: #D5D5D5;
  filter: alpha(opacity=40);
  float: left;
  height: 15px;
  opacity: .4;
  padding: 4px 0px;
  position: relative;

  li {
    float: left;
    padding: 1px 8px;
    line-height: 13px;
    font-size: 12px;
    color: #2a2a2a;
    border-left: 1px solid #292929;
  }

  li:first-child {
    border: none
  }

  li a {
    color: #2A2A2A
  }

  li a:hover {
    color: #2A2A2A;
    text-decoration: underline;
  }

}

#sponsor-logo {
  display:block;
  width: 130px;
  height: 30px;
  top: 10px;
  position: absolute;
  right: 20px;
  background: url('../images/logo-meltmedia.png') no-repeat;
  -webkit-transition:background .2s ease-in-out;

  &:hover {
    background-position: 0 -35px;
  }

}

.tagline {
  bottom: 0;
  color: #dcdcdc;
  font-size: 2.9em;
  font-weight: normal;
  letter-spacing: .05em;
  line-height:.7;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 35px;
}

#content-wrap {
  background: #F3F3F3;
  border: 5px solid #DCDCDC;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  margin-bottom: 30px;
}

/*==================================
          S I D E B A R
====================================*/

#sidebar {
  width: 200px;
  float: left;
}

.main-nav {
  margin: 20px 0px 0px 0px;
  nowhitespace: afterproperty;
  padding: 0px;

  li {
    width: 200px;
    height: 35px;
  }

  a {
    padding: 6px 15px 5px 20px;
    font-size: 17px;
    color: #b7b7b7;
  }

  a:hover {
    padding: 6px 15px 5px 20px;
    background: #dcdcdc;
    color: #4d8fbd;
    text-decoration: none;
  }

  a.active {
    color: #4d8fbd;
    background: #dcdcdc;
    padding-left: 20px;

    &:hover {
      cursor: default;
    }

  }

}

#register-callout {
  background: #dcdcdc;
  height: 248px;
  padding-left: 30px;
  position: relative;
  top: 30px;
  width: 160px;

  img {
    position: relative;
    top: -10px;
  }

  p {
    color: #474747;
    font-size: 1em;
    margin: 0;
    line-height: 1.3em;
    width: 145px;
  }

}

/*==================================
          C O N T E N T
====================================*/

#content {
  background: url(../images/bg-content.png) no-repeat;
  float: right;
  margin: 0;
  padding: 0 10px 0 25px;
  width: 518px;

  h1 {
    color: #d5d5d5;
    font-size: 6.5em;
    font-weight: normal;
    line-height: 1;
    margin: 20px 0;
    padding: 0;
  }

}

.event {
  width: 477px;
  height: 162px;
  margin-top: 15px;
  padding: 7px;
  background: #D5D5D5;
}

.event-details {
  width: 195px;
  float: left;
  line-height: 24px;
  padding: 5px 0px 0px 5px;

  h2 {
    margin: 0px;
    font-size: 24px;
    color: #8C8C8C;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
  }

  p {
    position: relative;
    top: 64px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #8C8C8C;
  }

}

.event-date {
  color: #575757
}
.event-img {
  width: 236px;
  height: 162px;
  float: right;
}
#past-events-wrap {
  width: 462px;
  height: 75px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 15px;
  background: #E5E5E5;
}
#archive-list-wrap {
  width: 175px;
  height: 80px;
  margin: 0px;
  float: left;
  border-right: 1px solid #C7C7C7;
}
#archive-list-wrap h4 {
  margin: 0px 0px 7px 0px;
  font-size: 15px;
  color: #8C8C8C;
}

#archive-list-wrap li {
  margin: 0px 0px 0px 3px;
  padding-left: 12px;
  line-height: 15px;
  background: url('../images/triangle-icon.png') no-repeat left;
}

#archive-list-wrap li a {
  margin: 0px;
  font-size: 11px;
  color: #666;
}

#future-events-wrap {
  width: 265px;
  height: 80px;
  margin: 0px;
  padding-left: 20px;
  float: right;
  border-left: 1px solid #F0F0F0;
}

#future-events-wrap h3 {
  line-height: 21px;
  margin: 0 0 18px 0;
  font-size: 21px; color:#666;
}

#future-events-wrap h3:first-child {
  margin: 0px;
  color: #8C8C8C;
}

/*==================================
           F O O T E R
====================================*/
#footer-wrap {
  clear: both;
  margin: 0px;
  position: relative;
  top: 40px;
}

#copyright {
  margin: 0px 25px;
  width: 224px;
  height: 48px;
  float: left;
  background: url('../images/deathstar-logo.jpg') no-repeat left;
}

#copyright p {
  margin: 0px;
  position: relative;
  left: 100px;
  top: 13px;
  line-height: 16px;
  font-size: 14px;
  color: #5d5d5d;
}

#copyright p:first-child {
  font-size: 12px;
  color: #8F8F8F;
}


.footer-nav {
  height: 30px;
  margin: 38px 35px 38px 15px;
  float: right;

  li {
    height: 11px;
    line-height: 11px;
    float: left;
    border-left: 1px solid #858585;
  }

  li:first-child {
    border: none
  }

  a {
    font-size: 10px;
    color: #606060;
    padding: 1px 5px
  }

}
