
body {
  background: #5b5b5b url(../images/body-bg.png) no-repeat top center;
  font-family: Helvetica, Arial, sans-serif;
}

/*==================================
        S T R U C T U R E
====================================*/

.content-wrap {
  clear: both;
  width: 800px;
  height: 711px;
  margin: auto;
  padding: 0px;
  position: relative;
  top: 166px;
  background: #F3F3F3;
  border: 5px solid #DCDCDC;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/*==================================
       U T I L I T Y
====================================*/

.arrow-link {
  color: #1B70AB;
  font-weight: 700;
  font-size: 13px;
  padding-right: 15px;
  background: url(../images/arrow-icon.png) no-repeat right;
  text-decoration: none;
}

/*==================================
          H E A D E R
====================================*/
#header-wrap {
  width: 802px;
  margin: 0 auto;
}
#sponsor-logo {
  width: 85px;
  height: 31px;
  float: right;
  margin-top: 10px;
  padding-left: 58px;
  position: relative;
  right: 20px;
  background: url('../images/meltmedia-logo.png') no-repeat left;
}
#sponsor-logo p {
  margin: 3px 0px 0px 0px;
  line-height: 9px;
  font-size: 14px;
  color: #3C3C3C;
  font-weight: 700;
}
#sponsor-logo p:first-child {
  font-size: 9px;
  color: #868686;
  font-weight: normal;
}
#header-nav {
  width: 365px;
  height: 15px;
  display: block;
  margin: 0px;
  padding: 4px 0px;
  float: left;
  position: relative;
  left: 20px;
  background: #D5D5D5;
  filter: alpha(opacity=40);
  -moz-opacity: .4;
  -khtml-opacity: .4;
  opacity: .4;
}
#header-nav li {
  float: left;
  padding: 1px 8px;
  line-height: 13px;
  font-size: 12px;
  color: #292929;
  border-left: 1px solid #292929;
}
#header-nav li:first-child {
  border: none
} /* call the first li element and removes the border on the left */
#header-nav li a:link {
  color: #2A2A2A
}
#header-nav li a:hover {
  color: #2A2A2A;
  text-decoration: underline;
}
#header-nav li a:active {
  color: #2A2A2A
}
#header-nav li a:visited {
  color: #2A2A2A
}
#header-wrap h1 {
  clear: both;
  nowhitespace: afterproperty;
  width: 415px;
  margin: 0px;
  /* need to declare margin: 0; for safari */ position:relative; top:175px; right:20px; float:right; font-size:36px; font-weight:normal; color:#DCDCDC; ;
}

/*==================================
          S I D E B A R
====================================*/

#sidebar-left {
  width: 200px;
  float: left;
}
#content-nav {
  margin: 20px 0px 0px 0px;
  nowhitespace: afterproperty;
  padding: 0px;
  /* need to declare padding: 0; for safari */   ;
}
#content-nav li {
  width: 200px;
  height: 35px;
}
#content-nav a:link {
  padding: 6px 15px 5px 20px;
  font-size: 17px;
  font-weight: normal;
  color: #b7b7b7;
}
#content-nav a:hover {
  padding: 6px 15px 5px 20px;
  background: #DCDCDC;
  color: #FFF;
  text-decoration: none;
}
#content-nav a:active {
  padding: 6px 15px 5px 20px
}
#content-nav a:visited {
  padding: 6px 15px 5px 20px;
  font-size: 17px;
  font-weight: normal;
  color: #b7b7b7;
}
#content-nav a.current {
  color: #1b70ab;
  background: #DCDCDC;
  padding-left: 20px;
} /* Style of the link in the nav when on that page */
#callout-wrap {
  width: 160px;
  height: 248px;
  position: relative;
  top: 30px;
  padding-left: 30px;
  background: #DCDCDC;
}
#callout-wrap img {
  margin-top: -10px
}
#callout-wrap p {
  width: 145px;
  margin-top: 9px;
  line-height: 14px;
  font-size: 12px;
  color: #474747;
}
/*==================================
     C O N T E N T   R I G H T
====================================*/
#content-right {
  width: 518px;
  nowhitespace: afterproperty;
  float: right;
  margin: 0px;
  /* need to declare margin: 0; for safari */ padding:0px 10px 0px 25px; background:url(../images/content-right-bg.png) no-repeat; ;
}
#content-right h2 {
  width: 518px;
  nowhitespace: afterproperty;
  height: 85px;
  margin: 20px 0px 0px 0px;
  padding: 0px;
  /* need to declare margin: 0; for safari */ line-height:75px; font-size:85px; color:#DCDCDC; font-weight:normal; ;
}
.event-wrap {
  width: 477px;
  height: 162px;
  margin-top: 15px;
  padding: 7px;
  background: #D5D5D5;
}
.event-info {
  width: 195px;
  float: left;
  line-height: 24px;
  padding: 5px 0px 0px 5px;
}
.event-details {
  position: relative;
  top: 64px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #8C8C8C;
}
.event-title {
  margin: 0px;
  font-size: 24px;
  color: #8C8C8C;
}
.event-date {
  color: #575757
}
.event-img {
  width: 236px;
  height: 162px;
  float: right;
}
#past-events-wrap {
  width: 462px;
  height: 75px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 15px;
  background: #E5E5E5;
}
#archive-list-wrap {
  width: 175px;
  height: 80px;
  margin: 0px;
  float: left;
  border-right: 1px solid #C7C7C7;
}
#archive-list-wrap h4 {
  margin: 0px 0px 7px 0px;
  font-size: 15px;
  color: #8C8C8C;
}
#archive-list-wrap ul {
  margin: 0px;
  padding: 0px;
} /* need to set the margin and padding to 0px on the ul list for safari */
#archive-list-wrap li {
  margin: 0px 0px 0px 3px;
  padding-left: 12px;
  line-height: 15px;
  background: url('../images/triangle-icon.png') no-repeat left;
}
#archive-list-wrap li a {
  margin: 0px;
  font-size: 11px;
  color: #666;
}
#future-events-wrap {
  width: 265px;
  height: 80px;
  margin: 0px;
  padding-left: 20px;
  float: right;
  border-left: 1px solid #F0F0F0;
}
#future-events-wrap h3 {
  line-height: 21px;
  nowhitespace: afterproperty;
  margin: 0px 0px 18px 0px;
  /* need to set margin to 0px for safari */ font-size: 21px; color:#666; ;
}
#future-events-wrap h3:first-child {
  margin: 0px;
  color: #8C8C8C;
} /* call the first h3 element and changes the color of the text to a dark gray */
/*==================================
           F O O T E R
====================================*/
#footer-wrap {
  clear: both;
  margin: 0px;
  position: relative;
  top: 40px;
}
#copyright {
  margin: 0px 25px;
  width: 224px;
  height: 48px;
  float: left;
  background: url('../images/deathstar-logo.jpg') no-repeat left;
}
#copyright p {
  margin: 0px;
  position: relative;
  left: 100px;
  top: 13px;
  line-height: 16px;
  font-size: 14px;
  color: #5d5d5d;
}
#copyright p:first-child {
  font-size: 12px;
  color: #8F8F8F;
} /* call the first p element and changes the color of the text to a light gray */
#footer-wrap ul {
  height: 30px;
  margin: 38px 15px;
  float: right;
}
#footer-wrap li {
  height: 11px;
  line-height: 11px;
  float: left;
  border-left: 1px solid #858585;
}
#footer-wrap li:first-child {
  border: none
} /* calls the first li element and removes the border on the left */
#footer-wrap a {
  font-size: 10px;
  color: #606060;
}
#footer-wrap a:link {
  padding: 1px 5px
}
#footer-wrap a:hover {
  padding: 1px 5px;
  text-decoration: underline;
}
#footer-wrap a:active {
  padding: 1px 5px
}
#footer-wrap a:visited {
  padding: 1px 5px
}