@media screen and (max-width: 800px){

  #content,
  .events-wrap,
  .event-img,

  #sidebar {
    clear:both;
    width:100%;
  }

  .event header h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .event header {
    clear:both;
    width:100%;
  }

  .event p {
    clear:both;
    margin:20px 0 5px;
    position:relative;
  }

  #past-events-wrap {
    width:90%;
  }

  #future-events-wrap h3 {
    font-size:1.3em;
  }

}